.inspectiondetails{
    display: none;
}

.inspectionform{
    display: none;
}


.resultinfo {
    max-width: 1200px;
    max-height: 525px;
    overflow-y: auto;
}

.card {
    background: rgba(255, 255, 255, 0.95);
    border: none;
    margin-bottom: 20px;
}