
/* Census search */
  .result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .loading {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #4CAF50;
  }
  
/* Business info */
  .suggestions {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    width: 300px;
    position: absolute;
    background: #fff;
    z-index: 999;
  }
  .suggestion-item {
    padding: 8px;
    cursor: pointer;
  }
  .suggestion-item:hover {
    background: #f0f0f0;
  }

/* Form Validation */
.error{
    color: #f00;
}
