
.suggestions {
    border-radius: 8px;
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.suggestion-item {
    padding: 12px;
    cursor: pointer;
    font-size: 0.9rem;
}

.suggestion-item:hover {
    background-color: #f8f8f8;
}

.no-records {
    padding: 12px;
    font-style: italic;
    color: #fff;
    background-color: #f39c12;
    cursor: pointer;
    font-size: 0.9rem;
    text-align: center;
}

.no-records:hover {
    background-color: #e67e22;
}

.form-container {
    position: relative;
}

.mt-3 {
    margin-top: 1.5rem;
}

/* Form Validation */
.error{
    color: #f00;
}
