RewriteEngine On

RewriteRule ^(admindashboard|dashboard|safetymonitoring|concernslist|reportlist|tracking|aiinsights|profile|usermanagement)$ template.php?route=$1 [L]
RewriteRule ^(portaldashboard|concerns|concernslst|portalprofile)$ portaltemplate.php?route=$1 [L]
RewriteRule ^logout$ logout.php [L]
RewriteRule ^login1$ index.php [L]
RewriteRule ^portallogin$ portalindex.php [L]
RewriteRule ^portallogout$ portallogout.php [L]
RewriteRule ^portal/signup$ pages/portal/signup.html [L]
RewriteRule ^portal/concerns$ pages/portal/portalconcerns.html [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ api/service/index.php [QSA,L]