
@media (max-width: 1399.98px) {
    .container{
        width: 50%;

    }
}

@media (max-width: 991.98px) {
    .container{
        width: 50%;

    }
}

@media (max-width: 767.98px) {
    .container{
        width: 100%;

    }
}

/* General form styling */
#report-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Label styling */
  .form-label {
    font-size: 1em;
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
    display: block;
  }
  
  /* Input field styling */
  .form-control {
    width: 100%;
    padding: 10px 15px;
    font-size: 1em;
    color: #333;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  /* Submit button styling */
  .btn-success {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 600;
    color: #ffffff;
    background-color: #28a745;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }
  
  /* Collapse section styling */
  .collapse {
    max-width: 600px;
    margin: 20px auto;
  }
  
  .card-body {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
  }
  
  .reports-container {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
  }
  
  #passwordHelpBlock {
    font-size: 0.9em;
    color: #6c757d;
    margin-top: 5px;
  }
  .reports-container {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .report-entry {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .report-entry p {
    margin: 5px 0;
    font-size: 0.9em;
  }
  